* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header, .header-contents {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.left-links, .right-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-contents {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

}

.header-text, .lime {
  align-items: center;
  width: 300px;
  height: 300px;
}

.header-text {
}

button {
  background-color: #3882f6;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  border-style: none;
  margin: 10px 0;
}

.lime {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 32px;
  text-align: center;
}

.info {
  max-width: 200px;
}

.qoute {
  background-color: #e5e7eb;
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thor-qoute {
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  width: 250px;
  flex: 1;
  padding: 10px 50px;
  border: 2px solid black;
}

